.data-prise-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  
  .date-input {
    margin-bottom: 20px;
    padding: 5px 10px;
    font-size: 16px;
  }
  
  .chart {
    height: 400px; /* Ajustez la hauteur selon vos besoins */
    margin-top: 20px; /* Ajouter de l'espace entre le tableau et le graphique */
  }
  
  /* Changez la couleur de la ligne et des points de la série */
  .ct-series-a .ct-line {
    stroke: #ff5722; /* Couleur de la ligne, changez ceci selon votre besoin */
    stroke-width: 2px;
  }
  
  .ct-series-a .ct-point {
    stroke: #ff5722; /* Couleur des points, changez ceci selon votre besoin */
    stroke-width: 5px;
  }
  
  .ct-area {
    fill: rgba(255, 87, 34, 0.1); /* Couleur de la zone sous la ligne, changez ceci selon votre besoin */
  }
  
  .data-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px; /* Ajustez la marge selon vos besoins */
  }
  
  .data-table th, .data-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .data-table th {
    background-color: #ff5722; /* Aligner avec la couleur du diagramme */
    color: #fff; /* Couleur du texte pour une meilleure lisibilité */
    text-align: center;
  }
  
  .data-table tr:nth-child(even) {
    background-color: #ffe6e0; /* Couleur d'alternance des lignes */
  }
  
  .data-table tr:hover {
    background-color: #ffd1c4; /* Couleur au survol */
  }
  
  .data-table td {
    text-align: center;
  }
  